* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    background-color:#2965f1;
    width: 1440px;
    height: 70px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding:  23px 23px;
    
}

header span {
    font-family: "Inter", sans-serif;
}

.main-section {
    background-color: #fafaff;
    padding:  60px 0px;
    height: 100vh
}


.main-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-bottom: 20px;
}
h1 {
    margin-bottom: 20px;
}
.main-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #303030;
}

.main-image {
    max-width: 715px;
}


.about-section {
    background-color: #fafaff;
    padding: 100px 0px;
}

select {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    background: rgba(255, 255, 255, 0);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    appearance: none;
    padding: 9px 8px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    background-image: url(./assets/ep_arrow-down.svg)
}

.section-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-bottom: 25px;
}

.frameworks-list {
    list-style-image: url(./assets/solar_map-arrow-up-bold.svg);
    padding: 0px 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}

.books-list {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    padding: 0px 20px;
}

.label {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
}

.text-field {
    padding: 9px 8px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    background: rgba(255, 255, 255, 0);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
}

.btn {
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background: #2965f1;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.line {
    margin-top: 60px;
    margin-bottom: 60px;
}

table {
    border: 1px solid #95a1bb;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #303030;
    }

th, td {
    padding: 12px 15px;
}

footer {
    background-color: rgba(163, 167, 255, 0.3);
    padding: 26px 0px;
}

.footer-link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
}